<h2> <%= @recipe.name %> </h2>
<h3>Ingredients: <%= @recipe.ingredients %> </h3>
<h3>Cook Time: <%= @recipe.cooktime %> </h3>
<p>Description: <%= @recipe.description %> </p>


<a href="/recipes/<%= @recipe.id %>/edit">Edit Recipe</a><br>

<form action="/recipes/<%= @recipe.id %>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete Recipe">
</form>