<h2> <%= @recipe.name %> </h2>
<p><h3>Ingredients: </h3><%= @recipe.ingredients %></p> 
<p><h3>Cook Time: </h3><%= @recipe.cooktime %></p> 
<p><h3>Description: </h3><%= @recipe.description %> </p>


<a href="/recipes/<%= @recipe.id %>/edit">Edit Recipe</a><br><br>

<form action="/recipes/<%= @recipe.id %>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete Recipe">
</form>